<div class="container">

    <div class="col-md-12 alert alert-danger" role="alert"
         data-ng-show="cancelpassword.error">
        {{cancelpassword.errorMessage}}
    </div>

    <div class="col-md-12 alert alert-success" role="alert"
         data-ng-show="cancelpassword.success">
        Changement de mot de passe annulé avec succès !
    </div>

    <form role="form" class="col-md-12">

        <h3 class="text-center">Annulation changement de mot de passe</h3>

        <div data-ng-hide="cancelpassword.success">

            <div class="form-group menu-vertical-center">

                <h5>Annulation...</h5>

            </div>

        </div>

        <div data-ng-show="cancelpassword.success">

            <div class="form-group menu-vertical-center">

                <div
                    class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 main-no-padding-left">
                    <a data-ng-href="#/main"
                       class="btn btn-primary btn-lg col-xs-12 col-sm-12 col-md-12">
                        Se connecter
                    </a>
                </div>

            </div>

        </div>

    </form>

</div>
