<div class="container">

    <div class="col-md-12 alert alert-success" role="alert"
         ng-show="lostpassword.token">
        Un mail à été envoyé à l'adresse saisie !
    </div>

    <div class="col-md-12 alert alert-danger" role="alert"
         data-ng-show="lostpassword.error">
        Une erreur est survenue.
    </div>

    <form role="form" class="col-md-12">

        <h3 class="text-center">Mot de passe oublié</h3>

        <div data-ng-hide="lostpassword.token">
            <div class="form-group menu-vertical-center">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email" ng-model="lostpassword.email"
                       autocomplete autofocus>
            </div>

            <div class="form-group menu-vertical-center">

                <div
                    class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 main-no-padding-left">
                    <button type="submit" data-ng-click="lostpassword.send()"
                            class="btn btn-primary btn-lg col-xs-12 col-sm-12 col-md-12">
                        Aidez moi !
                    </button>
                </div>

            </div>
        </div>

        <div data-ng-show="lostpassword.token">
            <div class="form-group menu-vertical-center">
                <label for="validation">URL validation changement</label>
                <div id="validation">
                    <a data-ng-href="#/changepassword/{{lostpassword.token}}" class="btn btn-primary">
                        Lien
                    </a>
                </div>

                <label for="annulation">URL annulation changement</label>
                <div id="annulation">
                    <a data-ng-href="#/cancelpassword/{{lostpassword.token}}" class="btn btn-primary">
                        Lien
                    </a>
                </div>
            </div>
        </div>

    </form>

</div>
